.sidebar_container{
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    transition: width 0.5s ease;
}

.sidebar_container.expand{
    width: 320px;
}

.sidebar_container.shrinked{
    width: 100px;
}