.topBar_container{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    height: 67px;

    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}